# Part 4

## Import & Load

In [1]:
%load_ext google.cloud.bigquery

In [2]:
import os
import pandas as pd
from google.cloud import bigquery
import google.auth
from google.cloud import bigquery

In [3]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:/Users/DIKA/Documents/bootcamp/Untitled Folder/aqueous-freedom-398208-cfe0d4e567f2.json'

In [4]:
bigquery_client = bigquery.Client()

## Segmented

In [7]:
query = """
DROP TABLE IF EXISTS `aqueous-freedom-398208.dkf_summary_tim2.part4_summary_segmentasi`;
CREATE TABLE `aqueous-freedom-398208.dkf_summary_tim2.part4_summary_segmentasi` AS
    SELECT sub.cust_name, sub.total_order, sub.total_spend, CASE
    WHEN sub.total_order > 3 AND sub.total_spend >= 80000 THEN 'Big Spender'
    WHEN sub.total_spend < 10000 THEN 'Regular'
    WHEN sub.total_spend < 40000 THEN 'Silver'
    WHEN sub.total_spend < 80000 THEN 'Gold'
    ELSE 'Diamond'
    END level
    FROM (
        SELECT c.cust_name, COUNT(*) AS total_order, SUM(f.price*o.quantity) AS total_spend
        FROM `aqueous-freedom-398208.dkf_okefood.order` o
        INNER JOIN `aqueous-freedom-398208.dkf_okefood.food` f ON f.food_id = o.fk_food_id
        INNER JOIN `aqueous-freedom-398208.dkf_okefood.customer` c ON c.cust_id = o.fk_cust_id
        GROUP BY 1
        ) AS sub
    ORDER BY 3, 4
"""

result = bigquery_client.query(query)
# df = result.to_dataframe()
# df

## Pending Order

In [8]:
query = """
DROP TABLE IF EXISTS `aqueous-freedom-398208.dkf_summary_tim2.part4_summary_pending`;
CREATE TABLE `aqueous-freedom-398208.dkf_summary_tim2.part4_summary_pending` AS
    SELECT c.cust_name, o.order_date, f.food_name, o.quantity, f.price*o.quantity AS total_spend, o.status
    FROM `aqueous-freedom-398208.dkf_okefood.order` o
    INNER JOIN `aqueous-freedom-398208.dkf_okefood.food` f ON f.food_id = o.fk_food_id
    INNER JOIN `aqueous-freedom-398208.dkf_okefood.customer` c ON c.cust_id = o.fk_cust_id
    WHERE o.status = 'Pending'
    ORDER BY 2, 1
  """

result = bigquery_client.query(query)
# df = result.to_dataframe()
# df